<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Zavin.Slideshow.wpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Zavin.Slideshow.wpf.Properties.Settings.mczavidordConnectionString"
            connectionString="Data Source=DESKTOP-15R3LL2\SQLEXPRESS01;Initial Catalog=mczavidord;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Zavin.Slideshow.wpf.Properties.Settings.mczavidordConnectionString1"
            connectionString="Data Source=PC_VAN_ANGELO\SQLEXPRESS;Initial Catalog=mczavidord;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Zavin.Slideshow.wpf.Properties.Settings.mczavidordConnectionString3"
            connectionString="Data Source=PC_VAN_ANGELO\SQLEXPRESS;Initial Catalog=mczavidord;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Zavin.Slideshow.wpf.Properties.Settings.mczavidordConnectionString2"
            connectionString="Data Source=PC-JASON-GAMING\ZAVINDB;Initial Catalog=mczavidord;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Zavin.Slideshow.wpf.Properties.Settings.mczavidordConnectionString4"
            connectionString="Data Source=LENOVO-PC\SQLEXPRESS;Initial Catalog=mczavidord;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Zavin.Slideshow.wpf.Properties.Settings.mczavidordConnectionString5"
            connectionString="Data Source=LENOVO-PC\SQLEXPRESS;Initial Catalog=mczavidord;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Zavin.Slideshow.wpf.Properties.Settings.mczavidordConnectionString6"
            connectionString="Data Source=DESKTOP-15R3LL2\SQLEXPRESS01;Initial Catalog=mczavidord;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <Zavin.Slideshow.wpf.Properties.Settings>
            <setting name="CurrentAppVersion" serializeAs="String">
                <value />
            </setting>
        </Zavin.Slideshow.wpf.Properties.Settings>
    </userSettings>
</configuration>
