<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Zavin.Slideshow.wpf.Properties.Settings.mczavidordConnectionString"
            connectionString="Data Source=192.168.187.160;Initial Catalog=mczavidord;User ID=MCview;Password=SQLMcV1ew!"
            providerName="System.Data.SqlClient" />
        <add name="Zavin.Slideshow.wpf.Properties.Settings.mczavidordConnectionString1"
            connectionString="Data Source=./;Initial Catalog=mczavidord;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Zavin.Slideshow.wpf.Properties.Settings.mczavidordConnectionString3"
            connectionString="Data Source=PC_VAN_ANGELO\SQLEXPRESS;Initial Catalog=mczavidord;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Zavin.Slideshow.wpf.Properties.Settings.mczavidordConnectionString2"
            connectionString="Data Source=PC-JASON-GAMING\ZAVINDB;Initial Catalog=mczavidord;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Zavin.Slideshow.wpf.Properties.Settings.mczavidordConnectionString4"
            connectionString="Data Source=PC_VAN_ANGELO\SQLEXPRESS;Initial Catalog=mczavidord;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>