<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Zavin.Slideshow.Configuration.Properties.Settings.mczavidordConnectionString"
            connectionString="Data Source=PC_VAN_ANGELO\SQLEXPRESS;Initial Catalog=mczavidord;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Zavin.Slideshow.Configuration.Properties.Settings.mczavidordConnectionString1"
            connectionString="Data Source=PC_VAN_ANGELO\SQLEXPRESS;Initial Catalog=mczavidord;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Zavin.Slideshow.Configuration.Properties.Settings.mczavidordConnectionString2"
            connectionString="Data Source=LENOVO-PC\SQLEXPRESS;Initial Catalog=mczavidord;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>